@page "/investmentcalculator"
@using BlazorApp.Data
@using BlazorApp.Shared.Tiles


<PageTitle>Investment Calculator</PageTitle>
<div style="display: flex; width: 100%">
    <div style="margin:auto">
        <h1> Investment Calculator </h1>

        <p>Calculate investment growth over time</p>

        <InvestingCalcTile> </InvestingCalcTile>
    </div>
</div>
@code {

}
