@page "/mortgagecalculator"
@using BlazorApp.Data
@using BlazorApp.Shared.Tiles


<PageTitle>Mortgage Calculator</PageTitle>
<div style="display: flex; width: 100%">
    <div style="margin:auto">
        <h1> Mortgage Calculator </h1>

        <p>Calculate the total costs of your mortgage</p>

        <MortgageCalcTile> </MortgageCalcTile>
    </div>
</div>
@code {

}
