@page "/testpage"
@using BlazorApp.Data
@using BlazorApp.Shared.Tiles
@inject MarketIndexService MarketIndexService


<PageTitle>Test Page</PageTitle>

<h1>The test page :) </h1>

<p>This component demonstrates creating a new page and routing to it</p>
<button @onclick="ToggleThing">Button</button>

<p> @ShowThing</p>

@if (indices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var index in indices)
    {
        <MarketIndexTile MarketIndex=index ></MarketIndexTile>
    }
}
 

@code {

    public bool ShowThing { get; set; }

    private void ToggleThing()
    {
        ShowThing = !ShowThing;
        StateHasChanged();
    }

    private List<MarketIndex>? indices;

    protected override async Task OnInitializedAsync()
    {
        var indice = await MarketIndexService.GetMarketIndexPreviousCloseAsync();
        indices = new List<MarketIndex>();
        indices.Add(indice);
    }

}
